<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAppOneSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C459B51921FB4F0200A31FEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C459B52D21FB4F0300A31FEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C459B53821FB4F0300A31FEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
